<!doctype html>
<html>
  <head>
    {{#if title }}
    <title>{{{ this.title }}}</title>
    {{else}}
    <title>Oliver Zheng</title>
    {{/if}}
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link
      href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i"
      rel="stylesheet"
      type='text/css'
    />
    <link type="text/css" rel="stylesheet" href="/assets/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/assets/skeleton.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles.css" />
    <link rel="alternate" type="application/atom+xml" href="/rss.xml" />
  </head>
  <body class="{{this.pageCssClass}}">
    <div class="container">
      <header class="row">
        <h1 class="column one-half">
          <a href="/">
            Oliver Zheng
          </a>
        </h1>
        <p class="nav column one-half text-align-right-on-desktop">
          <a href="/now">Now</a>
          <a href="/reviews">Reviews</a>
          <a href="/projects">Projects</a>
        </p>
      </header>
      <section class="content">
